

.top {
    text-align: center;
    padding: 10px 80px 0 80px;
    font-size: x-large;
}
.top span, .mid span, .bottom span {
    font-weight: bold;
}

.million {
    background-image: linear-gradient(to left, rgb(190, 0, 190), indigo, blue, green, rgb(173, 173, 0), rgb(200, 131, 2), rgb(231, 0, 0));   
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.mid {
    padding: 20px 80px 0 80px;
    font-size: large;
    text-align: center;
}
.bottom {
    padding: 20px 80px 40px 80px;
    font-size: large;
    text-align: center;
}
.numcol {
    text-align: right;
}
.titlecol {
    text-align: left;
}