.top {
    text-align: center;
    font-size: x-large;
}

.milestones {
    @apply lg:w-3/4 mt-10 lg:mt-7 lg:mb-5 mx-auto lg:rounded-lg bg-white;
}

.top img {
    max-width: 100%;
    @apply pb-1 inline-block mx-auto;
}

.top h3 {
    @apply text-3xl font-bold leading-normal py-5 px-20
}

.mid h3, .bottom h3 {
    @apply font-bold;
}

.top a, .mid a, .bottom a {
    @apply no-underline;
}

@media (max-width: 480px) {
    .top {
        padding: 2.5px;
    }
}
@media (min-width: 481px) {
    .top {
        padding: 10px 80px 0 80px;
    }
}
.top span, .mid span, .bottom span {
    font-weight: bold;
}

.million {
    background-image: linear-gradient(to left, rgb(190, 0, 190), indigo, blue, green, rgb(173, 173, 0), rgb(200, 131, 2), rgb(231, 0, 0));   
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.mid {
    @apply text-lg text-center pt-5 pr-20 pb-0 pl-20;
}
.bottom {
    @apply text-lg text-center pt-5 pr-20 pb-10 pl-20;
}
.numcol {
    @apply text-right;
}
.titlecol {
    @apply text-left;
}
