.socialItem {
    background: #fff;
    display: flex;
}

.socialItem img, .socialItem iframe {
    max-width: 75vw !important;
    height: auto;
}

.socialItem iframe {
    min-height: 480px;
}

/*
 * add min-width for extremely small devices like the Galaxy Fold
 * I don't have this device to test but it seems to look better in Chrome Dev Tools
 */
@media (max-width: 280px) {
    .socialItem {
        min-width: 335px;
    }
}

@media (max-width: 375px) {
    .socialItem {
        margin: 0.25em;
        border-radius: 0.25em;
    }
}

@media (min-width: 376px) {
    .socialItem {
        margin: 1em;
        border-radius: 0.5em;
    }
}

@media (max-width: 800px) {
    .socialItem .reddit img {
        max-width: 49vw !important;
    }
    .socialItem iframe {
        min-height: 240px;
    }
}

@media (min-width: 801px) {
    .socialItem img {
        max-height: 75vw;
        width: auto;
        padding: 2em;
    }
    .socialItem iframe {
        padding: 2em;
    }
    .socialItem .reddit img {
        max-width: 55vw !important;
    }
    .socialItem blockquote {
        max-width: 87%;
    }
}

@media (min-width: 821px) {
    .socialContainer {
        padding: 10px 80px 60px;
    }
}

.socialItem img {
    box-sizing: border-box;
    cursor: url('/cursors/xtu4jv.cur'), default;
}

.socialItem a img:hover {
    cursor: url('/cursors/uayktw.cur'), pointer;
}

